# dependencies
/node_modules

# next
/.next
/out

# production
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.production
.env.development

# misc
.DS_Store
*.pem
WhatsApp Image 2026-04-01 at 9.54.51 AM.jpeg
.playwright-cli/
test-non-3x4.jpg
